.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0); /* 배경을 반투명하게 설정 */
  justify-content: center; /* 모달을 중앙에 위치시키기 위해 추가 */
  align-items: center; /* 모달을 중앙에 위치시키기 위해 추가 */
}

.modal-content {
  position: absolute; /* position을 absolute로 설정 */
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* 가로 크기 조정 */
  height: 200px; /* 세로 크기 조정 (원하는 크기로 조정 가능) */
  font-size: large;
  color: rgb(255, 255, 255); /* 텍스트 색상을 하얀색으로 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* 내용이 넘칠 경우 숨기기 */
  background-color: rgba(255, 255, 255, 0.8);
  display: flex; /* flexbox로 설정 */
  flex-direction: column; /* 세로 방향 정렬 */
}

.weather-info {
  position: relative;
  z-index: 10;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  margin-top: 10px; /* X 버튼과의 간격을 위해 여백 추가 */
}

.weather-info p {
  margin: 5px 0; /* 각 텍스트 블록 간의 여백 설정 */
}

.weather-info h3 {
  margin: 10px 0 5px; /* 제목 상하 여백 조정 */
  font-size: 1.2em; /* 제목 크기 조정 */
}

.close {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute; /* X 버튼을 절대 위치로 설정 */
  top: 10px; /* 모달 상단에서의 위치 */
  right: 20px; /* 모달 오른쪽에서의 위치 */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* 날씨별 배경 이미지 설정 */
.clear {
  background-image: url("../img/맑음.jpg");
}

.clouds {
  background-image: url("../img/구름많음.jpg");
}

.rain {
  background-image: url("../img/비.jpg");
}

.snow {
  background-image: url("../img/눈.jpg");
}

.thunderstorm {
  background-image: url("../img/뇌우.jpg");
}

.mist {
  background-image: url("../img/안개.jpg");
}

/* 배경 이미지 속성 - 모달 콘텐츠에 적용 */
.modal-content.clear,
.modal-content.clouds,
.modal-content.rain,
.modal-content.snow,
.modal-content.thunderstorm,
.modal-content.mist {
  background-size: cover; /* 배경 이미지 크기 조정 */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
}
.bottom {
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0; /* 왼쪽 끝에 위치 */
  right: 0; /* 오른쪽 끝에 위치 */
  max-width: 800px; /* 최대 너비 설정 (원하는 너비로 조정 가능) */
  margin: 0 auto; /* 중앙 정렬을 위한 자동 여백 */
  background-color: rgba(255, 255, 255, 0.363); /* 배경색 설정 */
  display: flex; /* 아이콘을 가로로 나열하기 위해 flex 사용 */
  justify-content: space-around; /* 아이콘 간의 간격을 고르게 배분 */
  padding: 10px 20px; /* 상하 여백 추가 및 좌우 패딩 설정 */
}
