.modal {
  display: none; /* 기본적으로 모달은 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  background-color: transparent; /* 투명 배경 */
  color: white; /* 텍스트 색상 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.weather-info {
  position: relative;
  z-index: 10; /* 텍스트가 이미지 위에 오도록 설정 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.clear {
  background-image: url("../img/맑음.jpg");
}

.clouds {
  background-image: url("../img/구름많음.jpg");
}

.rain {
  background-image: url("../img/비.jpg");
}

.snow {
  background-image: url("../img/눈.jpg");
}

.thunderstorm {
  background-image: url("../img/뇌우.jpg");
}

.mist {
  background-image: url("../img/안개.jpg");
}

/* 배경 이미지 속성 */
.modal-content.clear,
.modal-content.clouds,
.modal-content.rain,
.modal-content.snow,
.modal-content.thunderstorm,
.modal-content.mist {
  background-size: cover; /* 배경 이미지 크기 조정 */
  background-position: center; /* 중앙 정렬 */
  height: auto; /* 자동 높이 */
  width: 100%; /* 모달 너비 */
  padding: 20px; /* 내용과 이미지 간의 패딩 */
}
