#header {
  background: #000000;
  display: flex;
  padding-top: 15px;
  color: white;
  height: 80px;
  justify-content: space-between;
}
div {
  display: flex;
}
#login {
}
/* 
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  width: 300px;
  background-color: #9ae0d585;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}
.user-info-box {
  margin-bottom: 10px;
  border: 2px solid #1bbc9c52;
  border-radius: 5px;
  padding: 0px;
}
a {
  text-decoration: none;
}
#loginbutton {
  background-color: rgba(0, 0, 0, 0.445);
  width: 100px;
  border: none;
  color: white;
  font-size: 2rem;
}
#mainlogin {
  background-color: rgba(0, 0, 0, 0.445);
  width: 200px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
